@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
.containerPosts {
    width: 73.75rem;
    margin: 0 auto;
    padding: 0 2.5vw
}

.blogArticle {
    display: flex;
}
header  {
    width: 10vw;
    height: 100vh;
    background: #003761;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}
.subtituteHead {
    width: 10vw;
    height: 100vh;
}
header h2 {
    position: absolute;
    top: 1vh;
    font-size: 1.5vw;
}
.blogSection {
    width: 90vw;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
header ul li {
   width: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
}
header ul li:hover {
    background: rgb(120, 120, 138);
 }


header ul li a {
    text-decoration: none;
    font-size: 1vw;
    padding: 1vh 0;
    color: white;
}
.bgblue {
    background: #003761;
    display: none;
}
.topNav {
    background: #003761;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.5vw;
}
.topNav ul{
    list-style-type: none;
    display: flex;
}
.topNav ul li a {
    text-decoration: none;
    font-size: 0.85rem;
    padding: 1vh 0;
    color: white;
}
.imgBurger img {
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.togNav {
    transform: translateX(0%)!important;
}
.blackBgd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.431);
    z-index: 9;
    display: none;
}
/* #dialog {
    position: absolute;
    background: #fff;
    border: 1px solid black;
    top: 20vh;
    left: 30vw;
    z-index: 10;
    width: 40rem;
    height: 300px;
    padding: 2rem 3rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.281);
    display: none;
}
#dialog ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
#dialog p{
    font-size: 1.3rem;
    font-weight: 500;
}
#dialog ul li{
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 2rem;
    color: white;
}
#dialog ul li:nth-child(1){
    background: rgb(161, 29, 29);
}
#dialog ul li:nth-child(2){
    background: rgb(110, 153, 109);
} */

/* ---------- blogSection ------------------*/


.createBlog {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: fit-content;
    border-style: solid;
    border-color: #AFAFAF;
    border-width: 0 0 1px 0;
    padding: 3vh 2.5vw;
}
.rowBetween1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rowBetween {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.columnBetween {
    margin: 1rem 0 ;
}
.createBlog h2 {
    font-size: 1.5vw;
}
.createBlog h3 {
    font-size: 1.1vw;
    margin-top: 1rem;
}
.createBlog p{
    font-size: 1.2vw;
}

textarea, select {
    width: 36vw;
    height: 13vh;
    padding: 0.5vh 0.8vw;
    resize: none;
    border-radius: 0.5vw;
    border: 1px solid #AFAFAF;
    font-size: 1.1vw;
    background: #f1f1f1;
}
textarea:focus {
    outline: 1px solid  #003761;
}
select {
    text-align: center;
}


.createBlog2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: fit-content;
    border-style: solid;
    border-color: #AFAFAF;
    border-width: 0 0 1px 0;
    padding: 3vh 2.5vw;
}
.createBlog2 textarea{
    width: 75vw;
    height: 25vh;
}
.createBlog2 p {
    font-size: 1.2vw;
}

.subhead {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 90vh;
    border-style: solid;
    border-color: #AFAFAF;
    border-width: 0 0 1px 0;
    padding: 3vh 2.5vw;
}

.columnBetween textarea,  input[type=file] {
    width: 100%;
    height: 5rem;
}

.sub .columnBetween:nth-child(1), .productsBelow .rowBetween .columnBetween:nth-child(1) {
    flex: 1 1 33%;
}
.sub .columnBetween:nth-child(2), .productsBelow .rowBetween .columnBetween:nth-child(2) {
    flex: 1 1 33%;
    padding: 0 2rem;
}
.sub .columnBetween:nth-child(3), .productsBelow .rowBetween .columnBetween:nth-child(3) {
    flex: 1 1 33%;
}
.titlePa textarea{
    width: 75vw;
    height: 20vh;
}
.titlePa p {
    font-size: 1.2vw;
}
.bolded{
    font-size: 1.3vw;
    font-weight: 600;
}
.notBetween img{
    width: 70px;
    height: 54.446px;
    margin-left: 1.5rem;
    cursor: pointer;
}
.notBetween {
    justify-content: flex-start!important;
    align-items: center;
    padding: 3vh 0;
}

.productsBelow {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: fit-content;
    border-style: solid;
    border-color: #AFAFAF;
    border-width: 0 0 1px 0;
    padding: 3vh 2.5vw;
}

.productsBelow p {
    font-size: 1.2vw;
}
.productsBelow h3{
    font-size: 1.2vw;
}
 input[type=file] {
    font-size: 1.2vw;
    padding: 0.5vh 0.5vw;
}

.submitBtn {
    display: flex;
    justify-content: flex-end;
    padding: 3vh 2.5vw;
    margin: 2rem 0;
}
input[type=submit] {
    font-size: 1.5vw;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    border: 1px solid  #003761;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #0062ad;
    color: white;
}

.non {
    display: none;
}
.head2,.head3,.head4,.head5,.head6,.head7,.head8 {
    display: none;
}


 /* cardwrapped ---------------------*/

.authorName, .noPost {
    margin-top: 2rem;
    font-weight: 500;
}
.noPost {
    text-align: center;
}

.centered {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.createLink a{
    font-size: 1.2rem;
    color: white;
    background: #003761;
    padding: 8px 18px;
    border-radius: 5px;
    text-align: center;
}
.createLink {
    margin-top: 10px;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 73.75rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 23.75rem;

}
.card {
    background: rgb(255, 255, 255);
    width: 22.5rem;
    height: 23.75rem;
    margin-bottom: 3rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.063rem 1.25rem 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-flow: column;
    position: relative;
}
.card a {
    color: black;
    text-decoration: none;
}

.card .imgLink {
    height: 55%;
}
.titleLink:hover, .authorLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.031rem;
}
.authorLink {
    font-weight: 600;
}


.card img {
    width: 100%;
    height: 100%;
}
.card .blogDetails {
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.313rem 0.625rem 0.625rem 0.625rem;
}
.card .blogDetails .blogTitle{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
}
.dAndTime {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
    color: #575757;
}

.edit {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}
.delete {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}
.edit input[type=submit] {
    background: url(../img/edit.png) no-repeat center;
    border: none;
    width: 45px;
}
.delete input[type=submit] {
    background: url(../img/remove.png) no-repeat center;
    border: none;
    width: 45px;
}