/* Large desktop */
@media (max-width: 1199px) { 
    
    /* body {
        background: rgb(255, 135, 135);
    } */
    .container {
        width: 990px;
    }
    .card {
        height: 313.5px;
    }
    .blogShowcase a img {
        height: 380px;
    }
    .blogShowcaseArt {
        width: 590px;
    }
    .cardArt {
        width: 280px;
        height: 330px;
    }
    .subheadproduct {
        flex-flow: column;
    }
    .productLink {
        width: 100%;
        text-align: center;
    }
    .productName {
        width: 100%;
        margin: 10px;
    }
    .productImg {
        width: 265px;
    }
 }
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 990px) {
    
    /* body {
        background: rgb(176, 255, 168);
    } */
    .container {
        width: 750px;
    }
    .card {
        height: 380px;
    }
    .cardContainer {
        width: 50%;
    }
    .blogShowcase a img {
        height: 294.4px;
    }
    .articlePageArt {
        flex-flow: column;
        align-items: center;
    }
    .flex-containerArt {
        flex-wrap: wrap!important;
        flex-flow: row;
        justify-content: space-between;
    }
    .wrapperArt {
        width: 750px;
        height: 100%;
        max-width: 100%;
    }
    .blogShowcaseArt {
        width: 750px;
        padding: 1.2rem 0.938rem;
    }
    .dAndTimeArt {
        display: none;
    }
    .cardArt {
        width: 215px;
        height: 230px;
        margin-bottom: 1.5rem;
    }
    .blogDetailsArt {
        padding: 10px 5px;
    }
    .blogRight {
        width: 100%;
    }
    .cardArt .blogDetailsArt .blogTitle {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
        max-height: 76px;
        overflow-y: hidden;
    }
    .cardArt img {
        height: 60%;
    }
    .blogDetailsArt {
        height: 40%;
    }
    .headline, .showcaseDetails p:nth-child(2)  {
        font-size: 25px;
        font-weight: 600;
        line-height: 2.1rem;
    }
    .showcaseDetails .lite {
        font-weight: 500;
        font-size: 1rem;
        color: #373737;
        width: 100%;
        height: 80px;
        overflow: hidden;
    }
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    
    /* body {
        background: rgb(249, 172, 251);
    } */
    .container {
        width: 480px;
    }
    .blogShowcase {
        flex-flow: column;
    }
    .showcaseDetails p:nth-child(1) {
        order: 3;
      }
      .showcaseDetails p:nth-child(2) {
        order: 1;
        margin: 0!important;
      }
      .showcaseDetails .lite {
        order: 2;
        margin: 10px 0;
      }
    .cardContainer {
        width: 100%;
    }
    .blogShowcase a img {
        height: 100%;
    }
    header {
        justify-content: space-between;
    }
    nav ul {
        flex-flow: column;
        align-items: center;
        padding: 2rem 0;
    }
    nav {
        position: fixed;
        background: #51A8EB;
        top: 0;
        left: 0;
        width: fit-content;
        align-items: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        transform: translateX(-100%);
        transition: 0.5s;
        z-index: 10;
    }
    nav ul li {
        padding: 1rem 3rem;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    nav ul li a{
        font-size: 1.1rem;
    }
    nav ul li:hover{
        background: #94d1ff;
        cursor: pointer;
    }
    .img img {
        display: block;
    }
    .blogShowcaseArt {
        width: 480px;
        padding: 1.2rem 0.938rem;
    }
    .headline {
        font-size: 30px;
        line-height: 2.5rem;
        margin: 10px 0;
    }
    .andTime {
        font-size: 0.8rem;
    }
    .subheadline {
        font-size: 23.166px;
        line-height: 2.2rem;
    }
    .showcaseDetails {
        padding: 0;
    }
    
 }
 
/* Landscape phones and down */
@media (max-width: 480px) {
    /* percentage*/
    /* body {
        background: rgb(255, 249, 161);
    } */
    .container {
        width: 95%;
    }
    .card {
        height: 100%;
    }
    .blogShowcaseArt {
        width: 100%;
    }
    .articlePageArt {
        padding: 0;
    }
    .cardArt {
        width: 100%;
        height: 100%;
        margin-bottom: 1.5rem;
    }
    .blogRight {
        padding: 1.2rem 0.938rem;
    }
    .productName {
        width: 100%;
        margin: 10px;
    }
    .productImg {
        width: 100%;
        height: 100%;
    }
    .subheadproduct {
        padding: 15px 20px;
    }
    .headline, .showcaseDetails p:nth-child(2)  {
        font-size: 25px;
        font-weight: 600;
        line-height: 2.1rem;
        margin: 10px 0;
    }
    .andTime {
        font-size: 0.7rem;
    }
    .blogTitle {
        margin-bottom: 8px;
    }
    .createLink a{
        font-size: 0.9rem;
      }
}