* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
  }
  .container {
    width: 1180px;
    margin: auto;
  }
  
  /* header ---------------------*/
  .head {
    background: #51A8EB;
  }
  header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #51A8EB;
  }
  header ul {
    display: flex;
    list-style-type: none;
  }
  header ul li {
    margin-left: 30px;
  }
  header ul li a{
    text-decoration: none;
    color: black;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  /* articlePage ---------------------*/
  
  
  .blogShowcase {
    display: flex;
    margin-top: 3rem;
  }
  .showcaseDetails {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 10px;
  }
  .showcaseDetails p:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
    color: #373737;
  }
  .showcaseDetails p:nth-child(2) {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 700;
  }
  .showcaseDetails p:nth-child(3) {
    font-weight: 500;
    font-size: 1.2rem;
    color: #373737;
  }
  
  
  
  /* cardwrapped ---------------------*/
  
  .wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    
  }
  .card {
    background: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-flow: column;
  }
  
  .card .imgLink {
    height: 55%;
  }
  .titleLink:hover, .authorLink:hover, .showcaseLink:hover {
    color: #51A8EB;
  }
  .authorLink {
    font-weight: 600;
  }
  
  
  .card img {
    width: 100%;
    height: 100%;
  }
  .card .blogDetails {
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 15px;
  }
  .card .blogDetails .blogTitle{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .dAndTime {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
    color: #575757;
  }
  
  

   /* LoginPage ---------------------*/
  

   .loginPage {
       width: 100%;
       height: 80vh;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .loginForm {
       display: flex;
       flex-flow: column;
       width: 400px;
       height: 400px;
       background: #51A8EB;
       padding: 20px 30px;
       justify-content: space-around;
       border-radius: 10px;
   }
   .loginForm h2 {
       text-align: center;
       font-size: 28px;
       font-weight: 500;
   }
   .loginForm .textarea {
       height: 50px;
       padding: 10px;
       font-size: 15px;
   }
   .loginForm .loginBtn {
       font-size: 18px;
       padding: 10px;
       height: 50px;
   }










/* articlePage ---------------------*/

.articlePageArt {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.blogShowcaseArt {
  display: flex;
  width: 760px;
  flex-flow: column;
}
.blogShowcaseArt img{
  height: 555px;
}
.category {
  background: #51A8EB;
  width: fit-content;
  padding: 3px 10px;
}
.headline {
  font-size: 35px;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 15px 0;
}
.andTime {
  margin-bottom: 5px;
}
.author {
  color: #51A8EB;
  cursor: pointer;
}
.author:hover {
  text-decoration: underline;
}

.subheadline {
  font-size: 27px;
  font-weight: 600;
  padding: 20px 0;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  line-height: 1.775;
}
.dAndTimeArt {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
  color: #575757;
}


.subheadproduct {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #addaff;
  padding: 20px 0;
}
.productName {
  font-weight: 600;
}
.productImg {
  width: 200px;
  height: 100px!important;
}
.productLink {
  background: #6cbcfa;
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid #003c6d;
}
.productLink:hover {
  background: #008cff;
}
.sub {
  border-bottom: 2px solid rgb(172, 172, 172);
  padding-bottom: 30px;
}

/* productBelow ---------------------*/

.productBelow {
  margin-top: 2rem;
}


/* cardwrapped ---------------------*/

.blogRight {
  display: flex;
}
.wrapperArt {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.flex-containerArt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  
}
.cardArt {
  background: rgb(255, 255, 255);
  width: 320px;
  height: 380px;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-flow: column;
}

.cardArt img {
  width: 100%;
  height: 50%;
}
.cardArt .blogDetails {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 15px;
}
.cardArt .blogDetails .blogTitle{
  font-size: 1.2rem;
  font-weight: 500;
}




