* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
.container {
  width: 75rem;
  margin: auto;
}

/* header ---------------------*/
.head {
  background: #51A8EB;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #51A8EB;
  padding: 0 15px;
}
header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-left: 30px;
}
header ul li a{
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.img img {
  height: 25px;
  width: 30px;
  cursor: pointer;
  display: none;
}
.navTog {
  transform: translateX(0%);
}

/* articlePage ---------------------*/


.blogShowcase {
  display: flex;
  margin-top: 3rem;
}
.showcaseDetails {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0 10px;
}
.blogShowcase a img {
  width: 100%;
  height: 460.6px;
}
.showcaseLink {
  flex-grow: 8.5;
  flex-basis: 70%;
}
.showcaseDetails {
  flex-grow: 3.5;
  flex-basis: 30%;
}
.showcaseDetails p:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
  color: #373737;
  width: 100%;
  
}
.showcaseDetails p:nth-child(2) {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  width: 100%;
  max-height: 215px;
  display: block;
  overflow: hidden;
}
.showcaseDetails .lite {
  font-weight: 500;
  font-size: 1.2rem;
  color: #373737;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.slide {
  display: none;
  padding: 0 15px;
}
.slide:nth-child(1) {
  display: block;
}




/* cardwrapped ---------------------*/

.wrapper {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  
}
.cardContainer {
  width: 33.33333%;
  padding: 0 15px;
  
}
.card {
  background: rgb(255, 255, 255);
  height: 380px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-flow: column;
}

.titleLink:hover, .authorLink:hover, .showcaseLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
.authorLink {
  font-weight: 600;
}


.card img {
  width: 100%;
  height: 100%;
}
.card .blogDetails {
  width: 100%;
  height: 45%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
}
.card .blogDetails .blogTitle{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.dAndTime {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  color: #575757;
}

  

/* LoginPage ---------------------*/


.loginPage {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  flex-flow: column;
  width: 400px;
  height: 400px;
  background: #51A8EB;
  padding: 20px 30px;
  justify-content: space-around;
  border-radius: 10px;
}
.loginForm h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}
.loginForm .textarea {
  height: 50px;
  padding: 10px;
  font-size: 15px;
}
.loginForm .loginBtn {
  font-size: 18px;
  padding: 10px;
  height: 50px;
}










/* articlePage ---------------------*/

.articlePageArt {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.blogShowcaseArt {
  display: flex;
  width: 760px;
  flex-flow: column;
}
.blogShowcaseArt img{
  height: 555px;
}
.category {
  background: #51A8EB;
  width: fit-content;
  padding: 3px 10px;
}
.headline {
  font-size: 35px;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 15px 0;
}
.andTime {
  margin-bottom: 5px;
}
.author {
  color: #51A8EB;
  cursor: pointer;
}
.author:hover {
  text-decoration: underline;
}

.directAns {
  padding: 20px 0;
}
.directAns pre:nth-child(1) {
  padding-bottom: 20px;
}

.subheadline {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 20px;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  line-height: 1.775;
}
.dAndTimeArt {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
  color: #575757;
}


.subheadproduct {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #addaff;
  padding: 20px 0;
}
.productName {
  font-weight: 600;
}
.productImg {
  height: 150px!important;
}
.productLink {
  background: #6cbcfa;
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid #003c6d;
}
.productLink:hover {
  background: #008cff;
}
.sub {
  border-bottom: 2px solid rgb(172, 172, 172);
  padding-bottom: 30px;
}

/* productBelow ---------------------*/

.productBelow {
  margin-top: 2rem;
}


/* cardwrapped ---------------------*/

.blogRight {
  display: flex;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}
.wrapperArt {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.flex-containerArt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  
}
.cardArt {
  background: rgb(255, 255, 255);
  width: 320px;
  height: 380px;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-flow: column;
}

.cardArt img {
  width: 100%;
  height: 50%;
}
.cardArt .blogDetails {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
}
.cardArt .blogDetails .blogTitle{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.dAndTimeArt {
  font-size: 0.8rem;
  font-weight: 500;
  color: #575757;
}


  /* Author ---------------------*/

.authorRecent p{
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
}